@model IEnumerable<MomforLittles.Models.Customer>
@using MomforLittles.Models;
@{
    Layout = "~/Views/Shared/_Layoutedit.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_CONTACT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_PASSWORD)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (Session["Customer"] != null)
        {
            Customer c = (Customer)Session["Customer"];
            if (c.CUSTOMER_ID == item.CUSTOMER_ID)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_CONTACT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_PASSWORD)
                </td>
                <td>
                    <a class="btn btn-primary fa fa-edit" href="@Url.Action("Edit", "Customers", new { id = item.CUSTOMER_ID })"></a>
                    <a class="btn btn-success fa fa-address-book " href="@Url.Action("Details", "Customers", new { id = item.CUSTOMER_ID })"></a>
                    <a class="btn btn-danger fa fa-trash " href="@Url.Action("Delete", "Customers", new { id = item.CUSTOMER_ID })"></a>

                </td>
            </tr>
            }
        }
    }

</table>
