@model MomforLittles.Models.ProductModel
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@{
    ViewBag.Title = "Product";

}

<head>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/CustTemp/assets/css/templatemo-digimedia-v1.css">
    <link rel="stylesheet" href="~/Content/CustTemp/assets/css/animated.css">
    <link rel="stylesheet" href="~/Content/CustTemp/assets/css/owl.css">
    <link rel="stylesheet" href="~/Content/ProTemp/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/ProTemp/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/ProTemp/css/magnific-popup.css" type="text/css">

    <style>
        .product__item {
            margin-bottom: 35px;
        }

            .product__item:hover .product__hover li {
                opacity: 1;
                top: 0;
            }

            .product__item.sale .product__item__pic .label {
                background: #ca1515;
            }

            .product__item.sale .product__item__text .product__price {
                color: #ca1515;
            }

        .product__item__pic {
            height: 320px;
            position: relative;
            overflow: hidden;
        }

            .product__item__pic .label {
                font-size: 12px;
                color: #ffffff;
                font-weight: 500;
                display: inline-block;
                padding: 2px 8px;
                text-transform: uppercase;
                position: absolute;
                left: 10px;
                top: 10px;
            }

                .product__item__pic .label.new {
                    background: #36a300;
                }

                .product__item__pic .label.stockout {
                    background: #111111;
                }

                .product__item__pic .label.stockblue {
                    background: #A324CC !important;
                    color:white;
                }

                .product__item__pic .label.sale {
                    background: #ca1515;
                }

        .product__hover {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 30px;
            text-align: center;
        }

            .product__hover li {
                list-style: none;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                top: 100px;
                opacity: 0;
            }

                .product__hover li:nth-child(1) {
                    -webkit-transition: all 0.4s ease 0.1s;
                    -o-transition: all 0.4s ease 0.1s;
                    transition: all 0.4s ease 0.1s;
                }

                .product__hover li:nth-child(2) {
                    -webkit-transition: all 0.4s ease 0.15s;
                    -o-transition: all 0.4s ease 0.15s;
                    transition: all 0.4s ease 0.15s;
                }

                .product__hover li:nth-child(3) {
                    -webkit-transition: all 0.4s ease 0.2s;
                    -o-transition: all 0.4s ease 0.2s;
                    transition: all 0.4s ease 0.2s;
                }
                .product__hover li:nth-child(4) {
                    -webkit-transition: all 0.4s ease 0.25s;
                    -o-transition: all 0.4s ease 0.25s;
                    transition: all 0.4s ease 0.25s;
                }

                .product__hover li:last-child {
                    margin-right: 0;
                }

                .product__hover li:hover a {
                    background: #A324CC;
                }

                    .product__hover li:hover a span {
                        color: #ffffff;
                        -webkit-transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }

                .product__hover li a {
                    font-size: 18px;
                    color: #111111;
                    display: block;
                    height: 45px;
                    width: 45px;
                    background: #ffffff;
                    line-height: 48px;
                    text-align: center;
                    border-radius: 50%;
                    -webkit-transition: all, 0.5s;
                    -o-transition: all, 0.5s;
                    transition: all, 0.5s;
                }

                    .product__hover li a span {
                        position: relative;
                        -webkit-transform: rotate(0);
                        -ms-transform: rotate(0);
                        transform: rotate(0);
                        -webkit-transition: all, 0.3s;
                        -o-transition: all, 0.3s;
                        transition: all, 0.3s;
                        display: inline-block;
                    }

        .product__item__text {
            text-align: center;
            padding-top: 16px;
        }

            .product__item__text h6 a {
                font-size: 14px;
                color: #111111;
            }

            .product__item__text .rating {
                line-height: 13px;
                margin-bottom: 2px;
            }

                .product__item__text .rating i {
                    font-size: 10px;
                    color: #A324CC;
                    margin-right: -4px;
                }

                    .product__item__text .rating i:last-child {
                        margin-right: 0;
                    }

            .product__item__text .product__price {
                color: #111111;
                font-weight: 600;
            }

                .product__item__text .product__price span {
                    font-size: 14px;
                    color: #b1b0b0;
                    text-decoration: line-through;
                    margin-left: 4px;
                }
    </style>
</head>
<body>

    <!-- Start All Title Box -->
    <br />
    <br />
    
    <div class="col-lg-4">
        <center>

            <ul class="breadcrumb" style="background-color: white; text-align: center">

                <li class="breadcrumb-item"><center><a href="@Url.Action("IndexCustomer","Home")"style="color:#000000;text-align:center">Home</a></center></li>
                <li class="breadcrumb-item active">  <center><a href="@Url.Action("Product","Home")" style="color:#A324CC;text-align:center" >Shop</a> </center></li>

            </ul>
        </center>
    </div>
   
    <!-- End All Title Box -->
    <!-- Start Shop Page  -->
  
        @*<div class="row product-categorie-box">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active">
                        <div class="row">
                            foreach (var c in Model.Cat)
                            {
                                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">


                                    <a href="Url.Action("Product","Home", new {id=c.CATEGORY_ID})" class="list-group-item list-group-item-action"><small class="text-muted">(@c.Products.Count) Products</small><img height="100" width="100" style="border-radius:100%" src="@Url.Content(c.CATEGORY_IMAGE)" /> <center>@c.CATEGORY_NAME</center></a>






                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>*@
        <br /><br />
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">

                        </div>
                        <div class="filter-price-left">
                            
                            <div class="price-box-slider">

                                <a href="@Url.Action("Product","Home")">
                                    <h6 style="margin-top: 10px; color: #A324CC"> Clear All Filters: <i class="fa fa-refresh"></i></h6>
                                </a>

                            </div>
                        </div>
                        <div class="filter-price-left">
                            <div class="title-left">
                                <h5>Filter By Price</h5>
                            </div>
                            <div class="price-box-slider">

                                <a href="@Url.Action("Price","Home")">
                                    <h6 style="margin-top: 10px; color: #A324CC"> Filter: <i class="fa fa-filter"></i></h6>
                                </a>

                            </div>
                        </div>
                        <div class="filter-brand-left">
                            <div class="title-left">
                                <h5>Brand</h5>
                            </div>
                            <div class="brand-box">
                                @foreach (var b in Model.Bnd)
                                {
                                    <a href="@Url.Action("Products","Home", new {id=b.BRAND_ID})" class="list-group-item list-group-item-action" style="color:#A324CC">@b.BRAND_NAME <small  class="text-muted" >(@b.Products.Count)</small></a>
                                }

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-lg-left">
                                <div class="toolbar-sorter-right">

                                    <a href="@Url.Action("Index","Home")">
                                        <h5 style="margin-top: 10px; color: #A324CC"> Search  <i class="fa fa-search"></i></h5>
                                    </a>



                                </div>
                                <p style="color:#A324CC">Showing all @Model.Pro.Select(x => x.PRODUCT_ID).Count() results </p>


                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        @foreach (var p in Model.Pro)
                                        {
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="product__item">

                                                    <div class="product__item__pic set-bg zoom-in">

                                                        <img src="@Url.Content(p.PICTURE)" style="height:270px; width:260px" alt="Image">
                                                        <div>
                                                            @if (p.OrderDetails.Sum(x => x.QUANTITY) > 0)
                                                            {

                                                                <ul class="product__hover" style="color:#A324CC">
                                                                    <li><a href="#" class="image-popup" title="@p.OrderDetails.Sum(x=>x.QUANTITY)"><i class="fas fa-store"></i></a></li>
                                                                    <li><a href="@Url.Action("ShopDetail","Home", new { id = p.PRODUCT_ID })" class="image-popup" title="View"><i class="fas fa-eye"></i></a></li>
                                                                    @if (Session["Customer"] == null)
                                                                    {
                                                                        <li><a href="@Url.Action("Create", "Customers", new { id = p.PRODUCT_ID })" class="image-popup" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (Session["Customer"] != null)
                                                                        {
                                                                            <li><a href="@Url.Action("AddtoWishList", "Customers", new { id = p.PRODUCT_ID })" class="image-popup" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>

                                                                        }
                                                                    }
                                                                    <li>  <a class="cart image-popup" href="@Url.Action("AddToCart","Home", new { id = p.PRODUCT_ID })" title="Add to Bag"><i class="fa fa-shopping-bag"></i></a></li>
                                                                </ul>
                                                            }
                                                            else
                                                            {
                                                                <a class="label stockout stockblue cart">Out of Stock</a>
                                                                <ul class="product__hover" style="color:#A324CC">

                                                                    <li> <center><a href="#" class="image-popup" title="Stock Out"><i class="fa fa-times"></i></a></center></li>
                                                                </ul>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="product__item__text">
                                                        <center>
                                                            <h6><a href="#">@p.PRODUCT_NAME</a></h6>
                                                            <div class="rating" style="color:#A324CC">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            <div class="product__price">Rs.@p.SALEPRICE</div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="list-view-box">
                                        @foreach (var p in Model.Pro)
                                        {
                                            <div class="row" style="border-block:solid 2px;border-block-color:#A324CC">
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="product__item">
                                                        <div class="product__item__pic set-bg zoom-in">

                                                            <img src="@Url.Content(p.PICTURE)" class="img-fluid" alt="Image">
                                                            @if (p.OrderDetails.Sum(x => x.QUANTITY) > 0)
                                                            {

                                                                <ul class="product__hover" style="color:#A324CC">
                                                                    <li><a href="#" class="image-popup" title="@p.OrderDetails.Sum(x=>x.QUANTITY)"><i class="fas fa-store"></i></a></li>
                                                                    <li><a href="@Url.Action("ShopDetail","Home", new { id = p.PRODUCT_ID })" class="image-popup" title="View"><i class="fas fa-eye"></i></a></li>
                                                                    <li><a href="@Url.Action("AddtoWishList","Customers", new { id = p.PRODUCT_ID })" class="image-popup" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>

                                                                    <li>  <a class="cart image-popup" href="@Url.Action("AddToCart","Home", new { id = p.PRODUCT_ID })" title="Add to Bag"><i class="fa fa-shopping-bag"></i></a></li>
                                                                </ul>
                                                            }
                                                            else
                                                            {
                                                                <a class="label stockout stockblue cart">Out of Stock</a>
                                                                <ul class="product__hover" style="color:#A324CC">

                                                                    <li> <center><a href="#" class="image-popup" title="Stock Out"><i class="fa fa-times"></i></a></center></li>
                                                                </ul>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                    <div class="why-text full-width" style="background-color:#ffffff">
                                                        <div class="product__item__text">

                                                            <h5 style="color:black">@p.PRODUCT_NAME</h5>
                                                            <div class="rating" style="color:#A324CC">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                            <div class="product__price">Rs.@p.SALEPRICE</div>
                                                            <p>
                                                                <h6>@p.DESCRIPTION</h6>
                                                            </p>
                                                            <p>
                                                                <h6>
                                                                    Baby  are fun to shop for, but don't get so caught up in
                                                                    what's cute that you forget the primary watchwords of baby clothing:
                                                                    comfort and ease. Look for soft, roomy,durable clothing that can
                                                                    hold up through frequent washings.
                                                                </h6>
                                                            </p>

                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
   
    <script type="text/javascript">
        function search() {
            window.location = "display_item.aspx?search=" + document.getElementById("searchtextbox").value;
        }
    </script>
    <script src="~/Content/ProTemp/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/ProTemp/js/main.js"></script>
</body>
<!-- End Shop Page -->
